* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}


/*Hero section*/
.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

/*Navbar*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header .logo {
    position: relative;
    max-width: 90px;
}
header ul {
    position: relative;
    display: flex;
}
.hamburger {
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: rgb(255, 196, 0);
    align-items: center;
    right: 1rem;
    display: none;
}
header ul .navigator .active {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 196, 0);
    z-index: 2;
}
header ul li {
    list-style: none;
    font-size: 20px;
}
header ul li a:hover {text-decoration: underline;}
header ul li a {
    display: inline-block;
    color: rgb(255, 196, 0);
    font-weight: 400;
    margin-left: 50px;
    text-decoration: none;
    font-size: 1.5em;
    transition: .5s;
}
.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .heading {
    position: relative;
    max-width: 600px;
}
.container .heading h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.container .heading h1 span {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 196, 0);
    font-size: 1.2em;
    font-weight: 900;
}
.container .heading p {color: #333;}
.container .heading a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: rgb(255, 196, 0);
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.container .image {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.container .image img {max-width: 420px;}
.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: .5s;
}
.thumb li:hover {transform: translateY(-15px);}
.thumb li img {max-width: 60px;}
.social {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social .fa {
    color: #fff;
    font-size: 50px;
    transition: .5s;
}
.social .fa:hover {color: #000000;}
.social li {list-style: none;}
.social li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 196, 0);
    clip-path: circle(600px at right 800px);
}

/*Owner info*/





/*Responsive*/
@media (max-width: 991px) {
    header {
        padding: 20px;
        background-color: #fff;
        position: fixed;
        z-index: 2;
    }
    header .logo {max-width: 60px;}
    header ul {display: none;}
    .hero {padding: 20px 20px 120px;}
    .container {
        flex-direction: column;
        margin-top: 120px;
    }
    .container .heading h1 {font-size: 2.5em;}
    .container .heading {max-width: 100%;}
    .container .image {
        max-width: 100%;
        justify-content: center;
    }
    .container .image img {max-width: 300px;}
    .circle {clip-path: circle(380px at center bottom);}
    .thumb li img {
        max-width: 40px;
        margin-top: 40px;
        padding-top: 50px;
    }
    .social {
        background: rgb(255, 196, 0);
        right: 0;
        width: 40px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .social .fa {font-size: 40px;}
    .hamburger {
        position: fixed;
        display: flex;
        padding-right: 100px;
    }
    .hamburger .active {
        position: fixed;
    }
    header .navigator {
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        z-index: 3;
    }
    .navigator li {text-align: center;}
    .navigator a {padding: 15px 10%;}
    .navigator.active {
        display: flex;
        width: 100%;
        left: 0;
        height: 100%;
    }
}